<!-- views/editMondayRecords.ejs -->

<main class="main">
    <section class="edit-record-section">
      <h2>Edit Record</h2>
      <form action="/sunday/records/edit/<%= record._id %>" method="POST" enctype="multipart/form-data">
       
        <div>
          <label for="file">File:</label>
          <input type="file" id="file" name="file">
          <% if (record.file.endsWith('.mp4') || record.file.endsWith('.mkv') || record.file.endsWith('.flv') || record.file.endsWith('.mpg') || record.file.endsWith('.webm')) { %>
            <video width="320" height="240" controls>
              <source src="/<%= record.file %>" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          <% } else if (record.file.endsWith('.mp3') || record.file.endsWith('.ogg') || record.file.endsWith('.wav') || record.file.endsWith('.mpeg')) { %>
            <audio controls>
              <source src="/<%= record.file %>" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
          <% } %>
          <p>Current File: <a href="/<%= record.file.split('/').pop() %>">View File</a></p>
        </div>
        <div>
          <label for="description">Description:</label>
          <textarea id="description" name="description" required><%= record.description %></textarea>
        </div>
        <button type="submit">Update Record</button>
      </form>
    </section>
  </main>
  
  
  