<!-- views/event.ejs -->



<%- include('partials/header') %>

<main class="main">

  <!-- Departments Section -->
  <section id="ders" class="departments section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Kitab Ders</h2>
      <p>Here are the daily kitab derses under their category</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <% events.forEach((event, index) => { %>
              <li class="nav-item">
                <a class="nav-link <%= index === 0 ? 'active show' : '' %>" data-bs-toggle="tab" href="#departments-tab-<%= index + 1 %>"><%= event.bookTitle %></a>
              </li>
            <% }) %>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <% events.forEach((event, index) => { %>
              <div class="tab-pane <%= index === 0 ? 'active show' : '' %>" id="departments-tab-<%= index + 1 %>">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3><%= event.bookTitle %></h3>
                    <p class="fst-italic"><%= event.teacher %></p>
                    <p><%= event.description %></p>
                    <p><%= event.dateAndDuration %></p>
                    
                    <% if (event.day) { %>
                      <a href="/<%= event.day.trim().toLowerCase() %>records">
                        <button class="btn btn-primary">see Records</button>
                      </a>
                    <% } else { %>
                      <p>Day information is not available.</p>
                    <% } %>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/uploads/events/<%= event.imageOfBook.split('\\').pop() %>" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>

    </div>

  </section><!-- /Departments Section -->

</main>

<%- include('partials/footer') %>
