

<%- include('partials/header') %>
<link rel="stylesheet" href="styles/mondayRecord.css ">


<main class="main">
  <!-- Gallery Section -->
  <section id="announcements" class="gallery section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Friday Records</h2>
      <p>Here you can find the latest Friday Records</p>
    </div><!-- End Section Title -->

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0" id="announcement-container" data-page="<%= page %>">
        <% records.forEach(record => { %>
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <video width="320" height="240" controls>
                <source src="/<%= record.file %>" type="video/mp4">
                Your browser does not support the video tag.
                <p><a href="/<%= record.file %>">View File</a></p>
              </video>
              <p>Description: <%= record.description %></p>
            </div>
          </div><!-- End Gallery Item -->
        <% }) %>
      </div>

      <% if (showMore) { %>
        <div class="text-center">
          <button id="show-more" class="btn btn-primary">Show More</button>
        </div>
      <% } %>
    </div>
  </section><!-- /Gallery Section -->
</main>

<%- include('partials/footer') %>


<script src="/scripts/fridayRecord.js"></script>
