<%- include('partials/header') %>
<link rel="stylesheet" href="styles/announcement.css ">

<main class="main">

  <!-- Hero Section -->
   <!-- Hero Section -->
   <section id="hero" class="hero section light-background">

    <img src="assets/img/hero.jpg" alt="" data-aos="fade-in">

    <div class="container position-relative">

      <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
        <h2>WELCOME TO THE ALIF MESJID</h2>
        <p>Where Every Heart Finds Its Home</p>
      </div><!-- End Welcome -->

      <div class="content row gy-4">
      

        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="d-flex flex-column justify-content-center">
            <div class="row gy-4">

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Mission and Vision</h4>
                  <p>Our mission is to provide a welcoming and inclusive space for worship, education, and community engagement, rooted in the principles of Islam. Our vision is to nurture faith, foster unity, and serve our community with compassion and dedication</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Plan Your Visit</h4>
                  <p>We're within walking distance of Bisrate-Gebriel train station, buses stop right outside & our underground car park has ample space to secure cycles</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                  <i class="bi bi-currency-dollar"></i>
                  <h4>Support Your Mesjid</h4>
                  <p>Thanks to your generous donations, we are able to host worshippers, offer community services & distribute food to those that need it most.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>
        </div>
      </div><!-- End  Content-->

    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container">

      <div class="row gy-4 gx-5">

        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
          <img src="https://yt3.googleusercontent.com/4LXPp7p_RfvWKdSPncLO2MBf7kTwcgqSffPLvaRmQwSnFgrnN6N8qkqIj6mkrh7mvQ2tZ_GyM4A=s900-c-k-c0x00ffffff-no-rj" class="img-fluid" alt="">
          <a href="https://https://www.youtube.com/watch?v=weaNiQmTz1k" class="glightbox pulsating-play-btn"></a>
        </div>

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <h3>About Us</h3>
          <p>
            We offer five daily prayers, weekly Jumu'ah services, and special prayers during Ramadan and Eid. Our educational programs include Quranic studies, Arabic language classes, and regular Islamic lectures.
          </p>
          <ul>
            <li>
              <i class="bi bi-journal-bookmark"></i>
              <div>
                <h5>History</h5>
                <p>
                Founded in [Year], Alif Mesjid has been a cornerstone of the islamic community, dedicated to serving the spiritual needs of its members. Over the years, we have achieved numerous milestones.</p>
              </div>
            </li>
            <li>
              <i class="bi bi-building"></i>
              <div>
                <h5>Facilities</h5>
                <p>
                  Our mosque features a spacious prayer hall, classrooms, a library, and a community hall for events. We are committed to ensuring accessibility for all members of our community.</p>
              </div>
            </li>
            <li>
              <i class="bi bi-people"></i>
              <div>
                <h5>Community Involvement and Outreach</h5>
                <p>
                  We actively engage in interfaith dialogues and partnerships. Our social services include [services], helping to support those in need within our community.</p>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section light-background">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fas fa-user-tie"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
            <p>Ustazs</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fas fa-user-shield"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
            <p>Administrative Units</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fas fa-users"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="38" data-purecounter-duration="1" class="purecounter"></span>
            <p>Youth Jeme'a members</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fas fa-award"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>

  </section><!-- /Stats Section -->

  <!-- Services Section -->
  <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p> Below are our core services</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="fas fa-praying-hands"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Daily Prayers</h3>
            </a>
            <p>Join us for the five daily prayers, held at the mosque. Our prayer schedule is aligned with the local times, ensuring you never miss a prayer.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-book-open"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Quranic Studies</h3>
            </a>
            <p>Participate in our Quranic study sessions, where we delve deep into the teachings of the Quran. Classes are available for all age groups.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-hands-helping"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Community Services</h3>
            </a>
            <p>We offer various community services including food distribution, charity drives, and support for the needy. Get involved and make a difference.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-child"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Youth Engagement</h3>
            </a>
            <p>Our youth programs are designed to engage and inspire the younger members of our community through educational and recreational activities.</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-book"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Library</h3>
            </a>
            <p>Explore our extensive collection of Islamic books, journals, and digital resources. Our library is open to all members of the community for study and research.</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-microphone-alt"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Islamic Lectures</h3>
            </a>
            <p>Attend our regular lectures on various Islamic topics, delivered by knowledgeable scholars. Enhance your understanding of Islam and its teachings.</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->


  <!-- Faq Section -->
  <section id="faq" class="faq section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Frequently Asked Questions</h2>
      <p>This comprehensive resource will address your most common inquiries and provide you with a clear understanding of our mission, goals, ensuring that it remains a reliable source of information</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row justify-content-center">

        <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

          <div class="faq-container">

            <div class="faq-item faq-active">
              <h3>Non consectetur a erat nam at lectus urna duis?</h3>
              <div class="faq-content">
                <p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3>Feugiat scelerisque varius morbi enim nunc faucibus?</h3>
              <div class="faq-content">
                <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3>Dolor sit amet consectetur adipiscing elit pellentesque?</h3>
              <div class="faq-content">
                <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</h3>
              <div class="faq-content">
                <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3>Tempus quam pellentesque nec nam aliquam sem et tortor?</h3>
              <div class="faq-content">
                <p>Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3>Perspiciatis quod quo quos nulla quo illum ullam?</h3>
              <div class="faq-content">
                <p>Enim ea facilis quaerat voluptas quidem et dolorem. Quis et consequatur non sed in suscipit sequi. Distinctio ipsam dolore et.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

          </div>

        </div><!-- End Faq Column-->

      </div>

    </div>

  </section><!-- /Faq Section -->

  <!-- Testimonials Section -->

  <!-- /Testimonials Section -->








 <!-- Gallery Section -->
 <section id="announcements" class="gallery section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Announcements</h2>
    <p>Here you can find new Announcements, Blogs, Events, or Muhadera Schedules</p>
  </div><!-- End Section Title -->

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-0" id="announcement-container" data-page="<%= page %>">
      <% announcements.forEach(announcement => { %>
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="<%= announcement.image %>" class="glightbox" data-gallery="images-gallery">
              <img src="<%= announcement.image %>" alt="" class="img-fluid" height="400" width="400">
            </a>
          </div>
        </div><!-- End Gallery Item -->
      <% }) %>
    </div>
    <div class="text-center">
      <a href="/announcement"><button class="btn btn-primary">Learn More</button></a>
  </div>

    
  </div>
</section><!-- /Gallery Section -->




</main>
<%- include('partials/footer') %>
<script src="/scripts/announcement.js"></script>
